/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics*/

body {
    color: rgb(0, 0, 0);
    background-color: #d3d3d3;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    font-family: sans-serif;
}

button {
    margin-top: 30px;
    width: 100px;
    padding: 6px;
    height: 30px;
    border-radius: 10px;
}

/* Header */

#logo {
    vertical-align: middle;
    width: 60px;
    margin-left: 20px;
}

header {
    background-color: white;
}

/* main */

.all-button {
    text-align: center;
    background-color: white;
    margin-top: 15px;
    margin-left: -400px;
}

.task-button {
    background-color: rgb(73, 157, 196);
    color: white;
}

.section-button {
    background-color: rgb(255, 255, 255);
    color: darkgrey;
}