/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics*/

body {
    color: rgb(0, 0, 0);
    padding-top: 10px;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    font-family: sans-serif;
}

/* Header */

#logo {
    vertical-align: middle;
    width: 60px;
    margin-left: 20px;
}

header {
    background-color: white;
}

